<div class="mainview">
	<div class="cont" >
		<div class='v-align-m' ></div>
		<div class="cont-sub" >
			<%
				/*this.echo( this.getHtml(
				{
					id : "client/init",
					controllerClass : this.controllers.Init,
					data : {}
				}));*/
				this.echo( this.getHtml(
				{
					routeName : 'pages',
					data : {}
				}));
			%>
		</div>
	</div>
</div>